header h1 {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(129, 78, 78);
    text-align: center;
    padding: 10px 0px;
    margin: 15px 0px 5px 0px;
    border-radius: 20px;
    color: white;
}

/* High Score Area Begins */
.container a {
    color: red;
    text-align: left;
    margin: 20px auto 5px 20px;
}

.container a:hover {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px black;
}

/* High Score Area Ends */

div .minutes {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    float: left;
    padding: 20px 20px
}

/* Button section begins */

.container {
    display: flex;
    justify-content: space-between;
}
div .countdown button {
    border-radius: 8px;
    margin: 5px 20px 5px auto;
}

div button {
    position: relative;
    font-size: 15px;
    text-align: center;
    border: none;
    text-decoration: none;
    display: flex;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    box-shadow: 0 10px 20px 0 rgba(9, 0, 0);
}

button {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: rgb(129, 78, 78);
}

button:hover {
    background-color: cornflowerblue;
    color: black;
}

/* Button section ends */

/* Question Area Begins*/
section h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
}

section p {
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
}

/* Question Area Ends */

